* {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.5;
  font-family:dotum,sans-serif;
}


body {
  background-color: skyblue;
  font-size: 12px;
}
#body-frame {
  width:956px;
  margin:0 auto;
  background:skyblue repeat-y;

}
#container {
  width:955px;
  margin-top:37px;
  margin-left:1px;
  padding-bottom:24px;
}

.column {
  float:left;
  width:163px;
  margin-right: -3px;
  padding-left: 15px;
  padding-right: 16px;
  font:11px/18px dotum, sans-serif;
  overflow:hidden;
}

.frame-right {
  float : left;
}

.entry {
  margin-top: 25px;
}

.entry .artcle {
  width: 733px;
  margin-top: 11px;
  margin-bottom: 17px;
  word-break: break-all;
  word-wrap: break-word;
  overflow:hidden;
}
#blogImage img{
  width:160px;
}

#blogMenu {
  margin-bottom: 20px;
}

#blogHeader h1 {
  width:160px;
  margin-top: 5px;
  word-break:break-all;
  word-wrap: break-word;
}

#blogDesc {
  coler : gray;
  font:11px/14px dotum, sans-serif;
}

#content {
  clear: both;
  width: 733px;
  margin-top: 19px;
  margin-bottom: 20px;
  padding: 0 15px;
  background-color: white;
  overflow: hidden;
  word-break: break-all;
}
